body {
    margin:0;
    overflow-x: hidden;
}

.header {
    position:fixed;
    width:100vw;
    height:15vh;
    background-color:rgba(64, 64, 64, 0.25);
    z-index:1;
}

.logo {
    height:15vh;
    width:15vh;
    display:inline-grid;
}

.pages.grid-container {
    display:inline-grid;
    position:absolute;
    grid-template-columns: auto auto auto auto;
    gap: 10vw;
    color:white;
    padding-block:7.5vh;
    padding-left:10vw;
    font-size: 5vh;
    font-family: "Lora", sans-serif;
    font-weight: 800;

    .link:hover {
        color:rgba(149, 206, 214);
        transition: color 150ms;
    }

    .link:not(:hover) {
        color:white;
        transition: color 500ms;
    }
}

.midbar.grid-container {
    
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    font-size:16pt;
    color:black;
    height:100vh;
    padding-inline:5vw;
    padding-top:2.5vw;
    gap: 0 5vw;
    line-height: 0;
}

.r1 {
    font-size:18pt;font-weight: 400;
    
}

.r2 {
    line-height: 1.5;
    font-size:14pt;
    display:inline;
}
.main {
    border-bottom: inset 3px rgb(101, 155, 121);
}

.header > div > a:link, a:visited {
    color:white;
    text-decoration: none;
}


.title-background {
    background-position-y: bottom;
    z-index: -1;
    background-size: cover;
    width:100vw;
    height: 100vh;
    background-repeat: no-repeat;
}

.title {
    text-align:center;
    color: whitesmoke;
    font-size: 6rem;
    position: relative;
    padding-top: 25vw;
    margin:0;
}

.midbar {
    height:30vh;
    width:auto;
    background-color: wheat;
}